<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>账号管理页面</title>
    <!-- 引入element-ui -->
    <link  rel="stylesheet" href="/resources/element-ui/lib/theme-chalk/index.css">
    <!-- 引入vue -->
    <script type="text/javascript" src="/resources/js/vue.js"></script>
    <script type="text/javascript" src="/resources/element-ui/lib/index.js"></script>
    <!-- 引入axios -->
    <script type="text/javascript" src="/resources/js/axios.min.js"></script>



</head>
<body>
    <div id="app">
        <!-- 顶部工具栏 -->
        <el-row v-show="isAdmin" type="flex" justify="space-between">
            <el-col :span="4">
                <el-button type="success" icon="el-icon-plus" size="small" @click="addAccountWin" >添加</el-button>
            </el-col>
        </el-row>
        <!--在顶部工具栏和表格之间添加间隙-->
        <div style="margin: 5px"></div>
        <!-- 账户列表 -->
        <el-table
                :data="accountList"
                border>
            <el-table-column label="序号" align="center"  type="index" width="60"></el-table-column>
            <el-table-column label="主键" align="center" prop="id"  ></el-table-column>
            <el-table-column label="姓名" align="center" prop="username" ></el-table-column>
            <el-table-column label="头像" align="center" prop="imgUrl">
                <template slot-scope="scope">
                    <el-popover title="放大的图片" placement="right" trigger="click">
                        <el-image slot="reference" :src="'/download/downloadFile.do?imgUrl='.concat(scope.row.imgUrl)" style="width: 50px; height: 50px; cursor: pointer"></el-image>
                        <el-image :src="'/download/downloadFile.do?imgUrl='.concat(scope.row.imgUrl)" style="width: 250px; height: 250px"></el-image>
                    </el-popover>
                </template>
            </el-table-column>
            <el-table-column label="创建时间" align="center" prop="createTime" ></el-table-column>
            <el-table-column label="修改时间" align="center" prop="updateTime" :formatter="updateTimeFmt" ></el-table-column>
            <el-table-column v-if="isAdmin" label="操作" align="center" width="350" >
                <template slot-scope="scope">
                    <el-form :inline="true">
                        <el-form-item>
                            <el-button :disabled="scope.row.role==1?true:false" type="danger" icon="el-icon-delete" size="mini" @click="delOneAccount(scope.row)">删除</el-button>
                        </el-form-item>

                        <el-form-item>
                            <el-button  type="danger" icon="el-icon-refresh" size="mini" @click="restAccountPwd(scope.row)">重置密码</el-button>
                        </el-form-item>
                    </el-form>

                </template>
            </el-table-column>
        </el-table>

        <!-- 分页组件 -->
        <!-- 分页组件 -->
        <el-pagination
                :total="total"
                :current-page="pageNum"
                :page-size="pageSize"
                :page-sizes="pageSizes"
                @current-change="currentChange"
                @size-change="sizeChange"
                backgroud
                layout="total,sizes,prev,pager,next,jumper"
        >

        </el-pagination>


        <!--添加账户弹窗-->
        <el-dialog
                :visible.sync="addAccountStatus" title="添加账户" @close="addAccountClose" >
            <el-form :rules="formRules"
                     :model="addAccountFormData"
                     ref="addAccountFef"
            >
                <el-form-item prop="username" label="账户名称" label-width="120px" >
                    <el-input v-model="addAccountFormData.username" prefix-icon="el-icon-user" placeholder="请输入账户"></el-input>
                </el-form-item>

                <el-form-item label="" label-width="60px">
                    <el-button type="primary" icon="el-icon-check" @click="addAccountOk" >确定</el-button>
                    <el-button type="danger" icon="el-icon-close" @click="addAccountCancel">取消</el-button>
                </el-form-item>

            </el-form>
        </el-dialog>

    </div>



    <!-- 引入自定js -->
    <script type="text/javascript" src="/resources/js/account/getAccounts.js"></script>
</body>
</html>